.App {
    padding: 8px
}

.lexical-toolbar {
    display: flex;
    column-gap: 5px;
}

.lexical-contenteditable-parent {
    outline: 1px solid grey;
}

.lexical-contenteditable {
    height: 400px;
    outline: 0 solid transparent;
    margin-top: 5px
}

.lexical-text-bold {
    font-weight: bold;
}


.lexical-text-italic {
    font-style: italic;
}

.lexical-text-underline {
    text-decoration: underline;
}

.lexical-text-code {
    background-color: #f0f2f5;
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
}

.lexical-text-highlight {
    margin: 0 5px;
}

.lexical-text-strikethrough {
    text-decoration: line-through;
}

.lexical-text-subscript {
    vertical-align: sub;
}

.lexical-text-superscript {
    vertical-align: super;
}
